// Section
.section {
  padding: 95px 0 0;

  &__caption {
    color: $medium-grey;
    margin-bottom: 1.571em;
  }

  &__heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
  }

  &__caption,
  &__heading {
    text-transform: uppercase;
  }

  &__caption,
  &__text {
    font-weight: 500;
  }

  &__text {
    line-height: 1.7;
    color: $dark-grey;
  }

  @include respond(max-lg) {
    &__heading {
      font-size: 53px;
    }
  }

  @include respond(max-md) {
    & {
      padding: 30px 0;
      // padding-top: 60px;
    }

    &__heading {
      // max-width: 50%;
      margin-bottom: 60px;
      font-size: 45px;
    }
  }

  @include respond(max-sm) {

    &__heading,
    &__caption {
      max-width: 400px;
    }
  }

  @include respond(max-xs) {
    &__heading {
      font-size: 40px;
    }
  }
}
