<!-- Footer -->
footer.footer
  .container
    .footer__row.footer__row--top.d-f
      .footer__col
        .footer__title
          | Menu
        ul.footer__list
          li.footer__item
            a.footer__link(href='#')
              | Home
          li.footer__item
            a.footer__link(href='#')
              | About
          li.footer__item
            a.footer__link(href='#')
              | Events
          li.footer__item
            a.footer__link(href='#')
              | Blog
          li.footer__item
            a.footer__link(href='#')
              | Contact
      .footer__col
        .footer__title
          | Travel Guides
        ul.footer__list
          li.footer__item
            a.footer__link(href='#')
              | Lodging
          li.footer__item
            a.footer__link(href='#')
              | Gastronomy
          li.footer__item
            a.footer__link(href='#')
              | Activities
          li.footer__item
            a.footer__link(href='#')
              | Culture
          li.footer__item
            a.footer__link(href='#')
              | Transportation
      .footer__col
        .footer__title
          | Follow us
        ul.footer__list
          li.footer__item
            a.footer__link(href='#')
              | Facebook
          li.footer__item
            a.footer__link(href='#')
              | Twitter
          li.footer__item
            a.footer__link(href='#')
              | Instagram
          li.footer__item
            a.footer__link(href='#')
              | Pinterest
      .footer__col.footer__col--subscribe
        .footer__title
          | Join our newsletter
        form.footer__form(action='#')
          label.footer__label(for='email-subscribe')
            | Sign up to get info by email on offers and events.
          .footer__input-wrapper.d-f
            input#email-subscribe.footer__input(name='email-subscribe' placeholder='Type your email address...' required='' type='email')
            input.footer__btn.btn(value='Submit' type='submit')
    .footer__row.footer__row--bottom.d-f
      .footer__copyright
        | All rights reserved 2021
      .footer__copyright
        | Designed by Henry Reyes
<!-- /Footer -->
