<!-- About -->
section.about.section
  .about__row.d-f
    .about__col.about__col--left(data-aos='fade-right' data-aos-delay='0')
      .about__header.section__header.cont-pl
        .container
          .about__caption.section__caption
            | Don’t settle only to one side of the world.
          .about__heading.section__heading
            | Travel beyond and above your expectations
            span.col-accent
      .about__pic.ar-49-32
        img.about__img(src='images/content/about-01.jpg' alt='Boathouse neighborhood')
      .about__text-container.cont-pl
        .container
          p.about__text.about__text--right.section__text
            | Avec des amis, seul ou en petits groupes, notre priorité est de bien vous informer et de bien vous conseiller.

    .about__col.about__col--right.d-f.fd-c(data-aos='fade-left' data-aos-delay='0')
      .about__subcol.about__subcol--text.d-f.fd-c.cont-pr
        .container
          p.about__text.section__text
            | Pour un voyage en formule autonome ou accompagnée, en voiture, bus, car, hydravion, train ou bateau, en toute
            | saison, notre équipe est là pour vous tailler des vacances sur mesure!
          p.about__text.section__text
            | Que vous soyez en famille ou avec des amis, seul ou en petits groupes, notre priorité est de bien vous
            | informer
            | et de bien vous conseiller.
          .about__link-container.d-f
            a.about__link(href='#')
              | Read more
              svg.about__link-icon
                use(href='images/sprite.svg#arrow-right')
      .about__subcol.d-f
        .about__pic.ar-1-1
          img.about__img(src='images/content/about-02.jpg' alt='Person water scooter, Rasdhoo, Maldives')
        .about__pic.ar-1-1
          img.about__img(src='images/content/about-03.jpg' alt='Gnaviyani Beach, Maldives')
          
  .about__row.about__row--bottom.d-f
    .about__col.about__col--wide.d-f(data-aos='fade-right' data-aos-delay='0')
      .about__pic.ar-10-7
        img.about__img(src='images/content/about-04.jpg' alt='The Maldives - Conrad Rangali Islands!')
      .about__pic.ar-10-7
        img.about__img(src='images/content/about-05.jpg' alt='Wooden floor pier')
    .about__col.about__col--small.cont-pr(data-aos='fade-left' data-aos-delay='0')
      .container
        .about__heading.section__heading
          | Go ahead book your escape
          span.col-accent .
<!-- /About -->
