<!-- Forecast -->
section.forecast.section
  .container
    .forecast__inner.d-f
      .forecast__col.d-f.fd-c.jc-sb
        .forecast__heading.section__heading(data-aos='fade-up' data-aos-delay='0' data-aos-offset='-700')
          | Week Forecast
        ul.forecast__location
          li.forecast__location-item
            a.forecast__link.forecast__link--current(href='#')
              svg.forecast__location-icon
                use(xlink:href='images/sprite.svg#map-marker')
              span.forecast__location-name
                | Male, Maldives
          li.forecast__location-item
            a.forecast__link(href='#')
              | Switch to another city
      .forecast__col.forecast__col--days.d-g
        a.forecast__weather.forecast__weather--current.d-f.fd-c.ai-c.jc-sb(href='#')
          span.forecast__day.forecast__day--current
            | Today
          svg.forecast__icon.forecast__icon--current
            title
              | Sunny
            use(xlink:href='images/sprite.svg#weather-sunny')
          span.forecast__temp
            | 23° C / 73° F
        a.forecast__weather.d-f.fd-c.ai-c(href='#')
          span.forecast__day
            | Thu
          svg.forecast__icon
            title
              | Sunny
            use(xlink:href='images/sprite.svg#weather-sunny')
        a.forecast__weather.d-f.fd-c.ai-c(href='#')
          span.forecast__day
            | Fri
          svg.forecast__icon
            title
              | Sunny
            use(xlink:href='images/sprite.svg#weather-sunny')
        a.forecast__weather.d-f.fd-c.ai-c(href='#')
          span.forecast__day
            | Sat
          svg.forecast__icon
            title
              | Cloudy
            use(xlink:href='images/sprite.svg#weather-cloudy')
        a.forecast__weather.d-f.fd-c.ai-c(href='#')
          span.forecast__day
            | Sun
          svg.forecast__icon
            title
              | Cloudy
            use(xlink:href='images/sprite.svg#weather-cloudy')
        a.forecast__weather.d-f.fd-c.ai-c(href='#')
          span.forecast__day
            | Mon
          svg.forecast__icon
            title
              | Rainy
            use(xlink:href='images/sprite.svg#weather-rainy')
        a.forecast__weather.d-f.fd-c.ai-c(href='#')
          span.forecast__day
            | Tue
          svg.forecast__icon
            title
              | Sunny
            use(xlink:href='images/sprite.svg#weather-sunny')
<!-- /Forecast -->
