<!-- Guides -->
section.guides.section
  .container
    .guides__header.section__header(data-aos='fade-right' data-aos-delay='0')
      .guides__caption.section__caption
        | Find the timely and helpful information in our travel guides
      .guides__heading.section__heading
        | What to do on maldives
        span.col-accent ?
  .guides__slider.swiper-container(data-aos='fade-left' data-aos-delay='0')
    .guides__wrapper.swiper-wrapper
      article.guides__card.swiper-slide
        .guides__body.ar-262-395
          img.guides__img(src='images/content/guides-01.jpg' alt='Places to stay')
          .guides__description.d-f.fd-c
            .guides__title
              | Places to stay
            p.guides__text
              | Nostrud magna aliqua. Ut minim veniam, quis nostrud exercitation.
      article.guides__card.swiper-slide
        .guides__body.ar-262-395
          img.guides__img(src='images/content/guides-02.jpg' alt='Gastronomy')
          .guides__description.d-f.fd-c
            .guides__title
              | Gastronomy
            p.guides__text
              | Nostrud magna aliqua. Ut minim veniam, quis nostrud exercitation.
      article.guides__card.swiper-slide
        .guides__body.ar-262-395
          img.guides__img(src='images/content/guides-03.jpg' alt='Activities')
          .guides__description.d-f.fd-c
            .guides__title
              | Activities
            p.guides__text
              | Nostrud magna aliqua. Ut minim veniam, quis nostrud exercitation.
      article.guides__card.swiper-slide
        .guides__body.ar-262-395
          img.guides__img(src='images/content/guides-04.jpg' alt='Culture')
          .guides__description.d-f.fd-c
            .guides__title
              | Culture
            p.guides__text
              | Nostrud magna aliqua. Ut minim veniam, quis nostrud exercitation.
    .guides__pagination.swiper-pagination
<!-- /Guides -->
