<!-- Hero -->
section.hero.d-f.ai-c.js-scroll-target(style='background-image: url(images/bg/hero-bg.jpg);')
  .container
    .hero__inner
      .hero__caption(data-aos='fade-up' data-aos-delay='0')
        | It’s a good day to
      .hero__title(data-aos='fade-up' data-aos-delay='400')
        | PLAN A NEW ADVENTURE
        span.col-accent .
      p.hero__text(data-aos='fade-up' data-aos-delay='800')
        | Sed do eiusmod tempor incididunt ut labore et dolore aliqua. Ut enim ad minim veniam.
      a.hero__btn.btn(href='#')
        | Get a Quote
    .hero__scroll.d-f.fd-c.ai-c
      .hero__scroll-text
        | Scroll for details
      svg.hero__scroll-icon
        use(xlink:href='images/sprite.svg#scroll-down')
<!-- /Hero -->
