<!-- Reviews -->
section.reviews.section
  .reviews__slider.swiper-container
    .reviews__wrapper.swiper-wrapper.d-f.ai-c
      article.reviews__card.swiper-slide
        .reviews__card-inner.ar-3-2
          img.reviews__img(src='images/content/reviews-01.jpg' alt='Himmafushi Surfing Point, Himmafushi, maldives')
          .reviews__body.d-f.fd-c.jc-c.ai-c
            svg.reviews__icon
              use(href='images/sprite.svg#quote-left')
            p.reviews__text
              | Adipisicing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            .reviews__author
              img.reviews__avatar(src='images/content/author-01.jpg' alt='Peter Wang')
              span.reviews__name
                | Peter Wang
      article.reviews__card.swiper-slide
        .reviews__card-inner.ar-3-2
          img.reviews__img(src='images/content/reviews-02.jpg' alt='Maalhos Beach, BA. Maalhos, Maldives')
          .reviews__body.d-f.fd-c.jc-c.ai-c
            svg.reviews__icon
              use(href='images/sprite.svg#quote-left')
            p.reviews__text
              | Adipisicing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            .reviews__author
              img.reviews__avatar(src='images/content/author-02.jpg' alt='Hector Márquez')
              span.reviews__name
                | Hector Márquez
      article.reviews__card.swiper-slide
        .reviews__card-inner.ar-3-2
          img.reviews__img(src='images/content/reviews-03.jpg' alt='Himmafushi Surfing Point, Himmafushi, maldives')
          .reviews__body.d-f.fd-c.jc-c.ai-c
            svg.reviews__icon
              use(href='images/sprite.svg#quote-left')
            p.reviews__text
              | Adipisicing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            .reviews__author
              img.reviews__avatar(src='images/content/author-03.jpg' alt='Chris Johnson')
              span.reviews__name
                | Chris Johnson
    .reviews__pagination.swiper-pagination
<!-- /Reviews -->
