// Helpers
.page {
  position: relative;
  flex: 1 0 auto;
  overflow-x: hidden;
}

.container {
  max-width: $max-width + px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @include respond(max-lg) {
    max-width: 970px;
  }

  @include respond(max-md) {
    max-width: 750px;
  }

  @include respond(max-sm) {
    max-width: 570px;
  }

  @include respond(max-xs) {
    max-width: none;
    min-width: $min-width;
  }
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.d-if {
  display: inline-flex;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.fd-c {
  flex-direction: column;
}

.fxw-w {
  flex-wrap: wrap;
}

.d-g {
  display: grid;
}

// Aspect ratio (pics)
.ar-1-1,
.ar-3-2,
.ar-10-7,
.ar-49-32,
.ar-262-395 {
  position: relative;
  overflow: hidden;

  &::after {
    display: block;
    width: 100%;
    content: "";
  }

  &>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ar-1-1 {
  &::after {
    padding-top: calc((1 / 1) * 100%);
  }
}

.ar-3-2 {
  &::after {
    padding-top: calc((2 / 3) * 100%);
  }

  @include respond(max-xs) {
    &::after {
      // padding-top: calc((3 / 4) * 100%);
    }
  }
}

.ar-10-7 {
  &::after {
    padding-top: calc((7 / 10) * 100%);
  }
}

.ar-49-32 {
  &::after {
    padding-top: calc((32 / 49) * 100%);
  }
}

.ar-262-395 {
  &::after {
    padding-top: calc((395 / 262) * 100%);
  }
}

.cont-pl {
  @include respond(min-sm) {
    padding-left: calc((100vw - var(--container-mxw)) / 2);
  }
}

.cont-pr {
  @include respond(min-sm) {
    padding-right: calc((100vw - var(--container-mxw)) / 2);
  }
}

.col-accent {
  color: $primary-accent;
}
